h1 {
    text-decoration: underline;
}
.question {
    font-weight: bold;
}
footer {
    bottom: 0;
    position: fixed;
}
#copyright {
    font-size: 10px;
}
#profile {
    border-radius: 40%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    display: block;
    margin-left: 0; 
    margin-top: 20px;
    padding: 5px;
}